<div class="container d-flex flex-column">
  <div class="justify-content-center">
    <div class="row">
      <h2 class="mt-4">Editar Usuário</h2>
    </div>

    <%= render 'form', usuario: @usuario %>

    <%= link_to 'Exibir', loja_usuario_path(@usuario) %> |
    <%= link_to 'Voltar', edit_loja_usuario_path %>
    <%= link_to 'Remover conta', loja_usuario_path(@usuario), method: :delete %>
  </div>
</div>