<div class="container d-flex flex-column">
  <div class="justify-content-center">
    <div class="row">
      <h2 class="mt-4">Novo Usuário</h2>
    </div>

    <%= render 'form', usuario: @usuario %>

    <div class="row">
      <div class="col-md-3">
        <%= link_to 'Voltar', loja_usuarios_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>